// main colors
$main-first-color: #7a0000;
$main-second-color: #007d00;
$main-third-color: #000082;

// colors
$title-color: #111;
$text-color: #333;
$input-placeholder-color: #aaa;

// fonts
$font-family-base: 'Verdana', sans-serif;
$font-family-custom: 'Arial', sans-serif;
$font-family-unique: 'Times New Roman', serif;

// font-weight
$font-weight-medium: 500;
$font-weight-sbold: 600;

// font-size
$font-size-default: 16px;
$line-height-base: 1.25;

// behavior
$transition-base: all .3s ease 0s;

//Bootstrap var
$enable-shadows: true;
$body-color: $text-color;