/*************************************************
****************** MEDIA STYLES ******************
*************************************************/
// min-width
@media screen and (min-width: 320px) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
  .game-section {
    &__item {
      padding: 16px 32px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .welcome-section {
    &__content-wrapper {
      padding: 64px 0;
    }
    &__image {
      left: -500px;
      transform: translateX(0);
    }
    &__content {
      width: auto;
    }
    &__logo {
      margin: 0 0 48px;

      &-img {
        img {
          width: 195px;
        }
      }
    }
    &__offer {
      margin: 0 0 48px;

      &-text {
        white-space: normal;
      }
    }
  }

  .game-section {
    padding: 200px 0 32px;

    &__image {
      img {
        max-width: 360px;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .welcome-section {
    &__image {
      left: -300px;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .welcome-section {
    &__content-wrapper {
      padding: 120px 0;
    }
    &__image {
      left: -690px;
    }
    &__logo {
      margin: 0 0 96px;

      &-img {
        img {
          width: auto;
        }
      }
    }
    &__title {
      margin: 0 0 16px;
      font-size: 64px;
    }
    &__sub-title-text {
      margin: 0 0 78px;
      font-size: 32px;
    }
    &__offer {
      margin: 0 0 72px;

      &-title {
        margin: 0 0 20px;
        font-size: 40px;
      }

      &-text {
        font-size: 72px;

        span {
          font-size: 128px;
        }
      }
    }

    &__button {
      padding: 32px 78px;
      font-size: 36px;
      font-weight: 900;
    }
  }

  .game-section {
    padding: 112px 0 64px;

    &__card {
      padding: 16px 32px;
    }
  }
}

@include media-breakpoint-up(xxxl) {
  .welcome-section {
    &__image {
      left: -530px;
    }
  }
}

@include media-breakpoint-up(xxxxl) {
  .welcome-section {
    &__image {
      left: -160px;
    }
  }
}

// max-width
@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}

@media screen and (max-width: 320px) {}
